<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="keywords" content="информационные технологии" />
  <meta name="description" content="Плафторма" />
  <meta name="Author" content="АК [www.iondv.ru]" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link href="/css/fonts-google-apis.min.css" rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="/css/essentials.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/layout.min.css" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="/css/header-1.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/color_scheme/darkblue.min.css" rel="stylesheet" type="text/css" id="color_scheme" />
</head>

<!--
  AVAILABLE BODY CLASSES:

  smoothscroll 			= create a browser smooth scroll
  enable-animation		= enable WOW animations

  bg-grey					= grey background
  grain-grey				= grey grain background
  grain-blue				= blue grain background
  grain-green				= green grain background
  grain-blue				= blue grain background
  grain-orange			= orange grain background
  grain-yellow			= yellow grain background

  boxed 					= boxed layout
  pattern1 ... patern11	= pattern background
  menu-vertical-hide		= hidden, open on click

  BACKGROUND IMAGE [together with .boxed class]
  data-background="assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll enable-animation">
<!-- SLIDE TOP -->
<div id="slidetop">

  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <h6><i class="et-puzzle"></i>Среда системы</h6>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> Node.JS как среда исполнения</li>
          <li><i class="fa fa-angle-right"></i> Язык разработки JavaScript</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6><i class="et-genius"></i> Разработка</h6>
        <p>Разработано на Дальнем Востоке </p>
      </div>

      <div class="col-md-4">
        <h6><i class="icon-envelope"></i> Контактная информация</h6>
        <ul class="list-unstyled">
          <li><b>Адресс:</b> Льва Толстого 12, <br /> Хабаровск, Россия 680000</li>
        </ul>
      </div>

    </div>

  </div>

  <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>
<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

  <!--
    AVAILABLE HEADER CLASSES

    Default nav height: 96px
    .header-md 		= 70px nav height
    .header-sm 		= 60px nav height

    .noborder 		= remove bottom border (only with transparent use)
    .transparent	= transparent header
    .translucent	= translucent header
    .sticky			= sticky header
    .static			= static header
    .dark			= dark header
    .bottom			= header on bottom

    shadow-before-1 = shadow 1 header top
    shadow-after-1 	= shadow 1 header bottom
    shadow-before-2 = shadow 2 header top
    shadow-after-2 	= shadow 2 header bottom
    shadow-before-3 = shadow 3 header top
    shadow-after-3 	= shadow 3 header bottom

    .clearfix		= required for mobile menu, do not remove!

    Example Usage:  class="clearfix sticky header-sm transparent noborder"
  -->
  <div id="header" class="clearfix sticky header-sm transparent noborder"> <!-- sticky transparent clearfix -->

    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- BUTTONS -->
        <ul class="pull-right nav nav-pills nav-second-main">

          <!-- SEARCH -->
          <!--li class="search">
            <a href="javascript:;">
              <i class="fa fa-search"></i>
            </a>
            <div class="search-box">
              <form action="page-search-result-1.html" method="get">
                <div class="input-group">
                  <input type="text" name="src" placeholder="Search" class="form-control" />
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                  </span>
                </div>
              </form>
            </div>
          </li-->
          <!-- /SEARCH -->


        </ul>
        <!-- /BUTTONS -->


        <!-- Logo -->
        <a class="logo pull-left" href="index.html">
          <img src="" alt="" /> <!-- light logo -->
          <img src="" alt="" /> <!-- dark logo -->
        </a>

        <!--
          Top Nav

          AVAILABLE CLASSES:
          submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
          <nav class="nav-main">

            <!--
              NOTE

              For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
              Direct Link Example:

              <li>
                <a href="#">HOME</a>
              </li>
            -->
            <ul id="topMain" class="nav nav-pills nav-main">
              <li class="active"><!-- HOME -->
                <a href="#">
                  HOME
                </a>
              </li>
              <li class="active"><!-- Проекты --> <!--li class="dropdown mega-menu"-->
                <a href="#slider"> <!--a class="dropdown-toggle" href="#slider"-->
                  Проекты
                </a>
                <!--ul class="dropdown-menu">
                                     <li><a href="page-about-us-1.html"><i class="et-browser"></i>Проект 1 - LAYOUT 1</a></li>
                                     <li><a href="page-about-us-2.html">Проект 2 - LAYOUT 2</a></li>
                                     <li><a href="page-about-us-3.html">Проект 3 - LAYOUT 3</a></li>
                                     <li><a href="page-about-us-4.html">Проект 4 - LAYOUT 4</a></li>
                                     <li><a href="page-about-us-5.html">Проект 5 - LAYOUT 5</a></li>
                                     <li><a href="page-about-me-1.html">Проект 6 - LAYOUT 1</a></li>
                                     <li><a href="page-about-me-2.html">Проект 7 - LAYOUT 2</a></li>
                </ul-->
              </li>
              <li class="active"><!-- Продукты -->
                <a href="#platform">
                  Платформа
                </a>
                <!--ul class="dropdown-menu">
                                    <li>
                    <div class="row">

                      <div class="col-md-5th">
                        <ul class="list-unstyled">
                          <li><span>GRID</span></li>
                  <li><a href="#"><i class="et-browser"></i> SLIDERS</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> HEADERS</a></li>
                                                                  <li class="divider"></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> FOOTERS</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> MENU STYLES</a></li>
                                                </ul>
                      </div>

                      <div class="col-md-5th">
                        <ul class="list-unstyled">
                          <li><span>MASONRY</span></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> MENU DROPDOWN</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> PAGE TITLES</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> PAGE SUBMENU</a></li>
                                              </ul>
                      </div>

                      <div class="col-md-5th">
                        <ul class="list-unstyled">
                          <li><span>LAYOUT</span></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> ICONS</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> BACKGROUNDS</a></li>
                  <li><a href="#"><i class="et-hotairballoon"></i> SEARCH LAYOUTS</a></li>
                  <li><a href="#"><i class="et-expand"></i> ANIMATIONS</a></li>
                                                </ul>
                      </div>

                      <div class="col-md-5th">
                        <ul class="list-unstyled">
                          <li><span>SINGLE</span></li>
                  <li><a href="#"><i class="et-grid"></i> GRID</a></li>
                  <li><a href="#"><i class="et-heart"></i> ESSENTIALS</a></li>
                  <li><a href="#"><i class="et-alarmclock"></i> CHANGELOG</a></li>
                                              </ul>
                      </div>

                      <div class="col-md-5th">
                        <ul class="list-unstyled">
                          <li><span>LOADING</span></li>
                  <li><a href="#"><i class="et-newspaper"></i> SIDE PANEL</a></li>
                  <li><a target="_blank" href=""><span class="label label-success pull-right">BONUS</span><i class="et-gears"></i> ADMIN PANEL</a></li>
                                                </ul>
                      </div>

                    </div>
                  </li>
                </ul-->
              </li>
              <li><!-- ABOUT -->
                <a href="#footer">
                  О нас
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- /Top Nav -->

  </div>

  <!-- Welcome -->
  <section>
    <div class="container">
      <div class="row text-center">
        <h1><span><%- title -%></span>.</h1>
        <%- body -%>
       </div>
    </div>
  </section>
  <!-- Welcome -->



  <!-- Info -->
  <!-- section>
    <div class="container">

      <div class="row">

        <div class="col-md-6 col-sm-6">
          <img class="img-responsive wow fadeIn" data-wow-delay="0.6s" src="assets/images/demo/girl_looking-min.jpg" alt="" />
        </div>

        <div class="col-md-6 col-sm-6">
          <header class="margin-bottom-60">
            <h2>Smarty Website+Admin+RTL</h2>
            <p class="lead font-lato">The most complete template, ever!</p>
          </header>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores.</p>
          <p>Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>

          <a class="btn btn-default btn-lg margin-top-30" href="#">EXPLORE SMARTY</a>
        </div>

      </div>

    </div>
  </section-->
  <!-- /Info -->


  <!-- FOOTER -->
  <footer id="footer">
    <div class="copyright">
      <div class="container">
        <ul class="pull-right nomargin list-inline mobile-block">
          <li><a href="#">Условия использования</a></li>
          <li>&bull;</li>
          <li><a href="#">Приватность</a></li>
        </ul>
        &copy; Все права защищены
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = 'vendor/';</script>
<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>

