package-lock.json

/.hg/*
/.idea/*
/.git/*
/.settings/*
/.tmp/*
/.project
/distr/*
/docker/*
/**/node_modules/*
/plugins/*
/modules/*
!/modules/readme.md
/applications/*

/htmlFiles

/view/**/node_modules/*
/view/**/*.less.css
/view/**/*.min.css
/view/**/*.min.js

/files
/log/*

/config/*.ini

/npm-debug.log
*.swp

/.git-*/*
output.log
