auth.denyTop=false // - true если не нужна аутентификация на уровне платформы, и каждый модуль будет аутентифицироваться сам

db.uri=mongodb://127.0.0.1:27017/db // URI подключения к БД
db.user=username // пользователь БД
db.pwd=password // пароль пользователя БД

// Пытаться запустить систему на этих портах
server.port1=8888
server.port2=8889
server.port3=3000

// Настройки файлового хранилища
fs.storageRoot=./files // корневая директория хранилища, куда будут сохраняться файлы
fs.urlBase=/files // база для публикации файлов в http (база URL файлов)
