#deploy.mode=db

db.uri=mongodb://127.0.0.1:27017/db
#db.authSource=admin
#db.authMechanism=SCRAM-SHA-1
#db.hosts=127.0.0.1:27017
#db.dbname=db
#db.user=username
#db.pwd=password

server.ports[]=8888
server.ports[]=8889

module.default=registry
module.skip[]=offline-sync

fs.storageRoot=./files
fs.urlBase=/files

#server.requestSizeLimit=100mb

auth.denyTop=false
auth.registration=false
#auth.aclProvider=aclProvider

# Exclusion from security checks
auth.exclude[]=/files/**
auth.exclude[]=/images/**

auth.exclude[]=/
auth.exclude[]=/vendor/**
auth.exclude[]=/css/**
auth.exclude[]=/fonts/**
auth.exclude[]=/favicon.ico

auth.exclude[]=/registry/vendor/**
auth.exclude[]=/registry/css/**
auth.exclude[]=/registry/js/**
auth.exclude[]=/registry/app-vendor/**
auth.exclude[]=/registry/app-static/**
auth.exclude[]=/registry/common-static/**
auth.exclude[]=/registry/img/**
auth.exclude[]=/registry/fonts/**
auth.exclude[]=/dashboard/vendor/**
auth.exclude[]=/dashboard/js/**
auth.exclude[]=/gantt-chart/vendor/**
auth.exclude[]=/gantt-chart/gantt/**
auth.exclude[]=/gantt-chart/css/**
auth.exclude[]=/gantt-chart/js/**
auth.exclude[]=/gantt-chart/common-static/**
auth.exclude[]=/gantt-chart/fonts/**
auth.exclude[]=/geomap/vendor/**
auth.exclude[]=/geomap/css/**
auth.exclude[]=/geomap/js/**
auth.exclude[]=/geomap/common-static/**
auth.exclude[]=/geomap/img/**
auth.exclude[]=/geomap/fonts/**
auth.exclude[]=/report/vendor/**
auth.exclude[]=/report/css/**
auth.exclude[]=/report/js/**
auth.exclude[]=/report/common-static/**
auth.exclude[]=/report/img/**
auth.exclude[]=/report/fonts/**

auth.exclude[]=/portal/**
