<!DOCTYPE html>
<html>
<head><title>Платформа ION: Вход</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/auth.css">
  <meta name="robots" content="noindex,nofollow">
</head>
<body>
<div class="demo">
  <h3>Вы заблокированы!</h3>
</div>
</body>
</html>
