<!DOCTYPE html>
<html>
<head>
  <title>Платформа ION: регистрация</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/css/essentials.min.css" rel="stylesheet" type="text/css"/>
  <link href="/css/layout.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <form action="/register" method="post" class="sky-form boxed">
      <header><i class="fa fa-users"></i> Регистрация в системе</header>
      <fieldset>
        <section>
          <label class="label">Логин</label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input id="username" type="login" name="username">
            <span class="tooltip tooltip-top-right">Логин</span>
          </label>
        </section>

        <section>
          <label class="label">Пароль</label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password" type="password" name="password">
            <b class="tooltip tooltip-top-right">Пароль</b>
          </label>
        </section>

        <section>
          <label class="label">Повтор пароля</label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password2" type="password" name="password2">
            <b class="tooltip tooltip-top-right">Повтор пароля</b>
          </label>
        </section>
      </fieldset>

      <footer>
        <button id="authbutton" type="submit" class="btn btn-primary pull-right">Регистрация</button>
        <div class="forgot-password pull-left">
          <a href="/auth"><b>Вход в систему</b></a>
        </div>
      </footer>
    </form>
  </div>
</div>
</body>
</html>